<p id="notice"><%= notice %></p>


<h1>Create Computer Skill</h1>
<div class="col-md-7">
    <div class="card">
      <div class="card-body">

        <div class="card">
        <ul class="list-group list-group-flush">
        <h2 class="my-0">Compute Skill</h2>
        <form name="createLanguage" method="post" action="/v1/api/createComputerSkill">

        <div class="form-group">
        <label for="newLanguage">Computer Skills</label>
        <select class="" name="computer_skill_list_id">
        <% @computerSkillList.each do |cSkill| %>
        <option value="<%= cSkill.id %>"><%= cSkill.comp_skill %></option>
        <% end %>
        </select><br>
        </div>

        <div class="form-group">
        <label for="newLanguage">Level of Language</label>
        <select class="" name="skill_level_id">
        <% @skillLevel.each do |skill| %>
        <option value="<%= skill.id %>"><%= skill.level %></option>
        <% end %>
        </select><br>
        </div>

        <button class="btn btn-warning btn-lg" type="submit" >Create</button>
        </form>
        </ul>
      </div>
    </div>
  </div>
</div>



<h1>Computer Skills</h1>

<% @computer_skills.each do |computer_skill| %>
    <%= computer_skill.computer_skill_list.comp_skill %>
    <%= computer_skill.skill_level.level %>

    <%= link_to 'Edit', edit_user_computer_skill_path(current_user,computer_skill) %>
    <%= link_to 'Destroy', user_computer_skill_path(current_user,computer_skill), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
