<%= form_for [current_user,proffesional_skill] do |f| %>
  <% if proffesional_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proffesional_skill.errors.count, "error") %> prohibited this proffesional_skill from being saved:</h2>

      <ul>
      <% proffesional_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= f.label :proffesional_skill_list_id %>: </td>
      <td><%= f.collection_select :proffesional_skill_list_id,ProffesionalSkillList.order(:proff_skill),:id,:proff_skill,include_blank: true %></td>
    </tr>
    <tr>
      <td><%= f.label :skill_level_id %>: </td>
      <td><%= f.collection_select :skill_level_id, SkillLevel.order(:id), :id, :level, include_blank: true %></td>
    </tr>
  </table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
