<p id="notice"><%= notice %></p>

<h1>Create Proff Skill</h1>
<div class="col-md-7">
    <div class="card">
      <div class="card-body">

        <div class="card">
        <ul class="list-group list-group-flush">
        <h2 class="my-0">Proff Skill</h2>
        <form name="createLanguage" method="post" action="/v1/api/createProffesionalSkill">

        <div class="form-group">
        <label for="newLanguage">Proffesional Skills</label>
        <select class="" name="proffesional_skill_list_id">
          <% @proffesionalSkillList.each do |pSkill| %>
        <option value="<%= pSkill.id %>"><%= pSkill.proff_skill %></option>
        <% end %>
        </select><br>
        </div>

        <div class="form-group">
        <label for="newLanguage">Level of Skill</label>
        <select class="" name="skill_level_id">
        <% @skillLevel.each do |skill| %>
        <option value="<%= skill.id %>"><%= skill.level %></option>
        <% end %>
        </select><br>
        </div>

        <button class="btn btn-warning btn-lg" type="submit" >Create</button>
        </form>
        </ul>
      </div>
    </div>
  </div>
</div>


  <% @proffesional_skills.each do |proffesional_skill| %>
      <%= proffesional_skill.proffesional_skill_list.proff_skill %>
      <%= proffesional_skill.skill_level.level %>

      <td><%= link_to 'Edit', edit_user_proffesional_skill_path(current_user,proffesional_skill) %>
      <td><%= link_to 'Destroy', user_proffesional_skill_path(current_user,proffesional_skill), method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>




















<!--  -->
