<%= form_for [current_user,@schedule] do |f| %>

<div class="field">
  <%= f.label :week_id %>
  <%= f.collection_select :week_id,Week.order(:id),:id,:name,include_blank: true %>
</div>

<div class="field">
  <%= f.label :group_id %>
  <%= f.collection_select :group_id,Group.order(:id),:id,:name,include_blank: true %>
</div>

<div class="field">
  <%= f.label :subject_id %>
  <%= f.collection_select :subject_id,Subject.order(:id),:id,:name,include_blank: true %>
</div>

<div class="field">
  <%= f.label :location_id %>
  <%= f.collection_select :location_id,Location.order(:id),:id,:name,include_blank: true %>
</div>

<div class="field">
  <%= f.label :user_id, "Teacher" %>
  <%= f.collection_select :user_id,@user.order(:id), :id, :teachers, include_blank: true %>
</div>


  <div class="field">
    <%= f.label :startH %>
    <%= f.number_field :startH %>
  </div>

  <div class="field">
    <%= f.label :startM %>
    <%= f.number_field :startM %>
  </div>

  <div class="field">
    <%= f.label :endH %>
    <%= f.number_field :endH %>
  </div>

  <div class="field">
    <%= f.label :endM %>
    <%= f.number_field :endM %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
