<%= form_for [current_user,@work_experience] do |f| %>
  <% if work_experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_experience.errors.count, "error") %> prohibited this work_experience from being saved:</h2>

      <ul>
      <% work_experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <%= f.label :place %>
  <%= f.text_field :place %><br>


  <%= f.label :work_period %>
  <%= f.text_field :work_period %><br>


  <%= f.label :position %>
  <%= f.text_field :position %><br>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
