<div class="container content" style="height: 100%;">

<p id="notice"><%= notice %></p>

<h1>Create Work Experience</h1>
<div class="col-md-7">
    <div class="card">
      <div class="card-body">

        <div class="card">
        <ul class="list-group list-group-flush">
        <h2 class="my-0">Work Experience</h2>
        <form name="createLanguage" method="post" action="/v1/api/createWorkExperience">

        <div class="form-group">
          Place:   <input type="text" name="place" value=""><br>
          Work Period:  <input type="text" name="work_period" value=""><br>
          Position: <input type="text" name="position" value=""><br>
        </div>

        <button class="btn btn-warning btn-lg" type="submit" >Create</button>
        </form>
        </ul>
      </div>
    </div>
  </div>
</div>



<h1>Work Experiences</h1>
<% @work_experiences.each do |work_experience| %>
    <%= work_experience.place %>
    <%= work_experience.work_period %>
    <%= work_experience.position %>
    <%= link_to 'Edit', edit_user_work_experience_path(current_user,work_experience) %>
    <%= link_to 'Destroy', user_work_experience_path(current_user,work_experience), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<br>

</div>
