<%= form_for [current_user,@subject] do |f| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :credit %>
    <%= f.number_field :credit %>
  </div>

  <div class="field">
    <%= f.label :hours %>
    <%= f.number_field :hours %>
  </div>

  <div class="field">
    <%= f.label :curriculum_id %>
    <%= f.collection_select :curriculum_id, Curriculum.order(:id), :id, :label_for_select, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
