<%= form_for [current_user,@education] do |f| %>
  <% if education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :place %>
  <%= f.text_field :place %><br>


  <%= f.label :period %>
  <%= f.text_field :period %><br>


  <%= f.label :faculty %>
  <%= f.text_field :faculty %><br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
