<p id="notice"><%= notice %></p>

<h1>Create Language</h1>
<div class="col-md-7">
    <div class="card">
      <div class="card-body">

        <div class="card">
        <ul class="list-group list-group-flush">
        <h2 class="my-0">Languages</h2>
        <form name="createLanguage" method="post" action="/v1/api/createLanguage">

        <div class="form-group">
        <label for="newLanguage">Language</label>
        <select class="" name="language">
        <% @languagesList.each do |list| %>
        <option value="<%= list.id %>"><%= list.language %></option>
        <% end %>
        </select><br>
        </div>

        <div class="form-group">
        <label for="newLanguage">Level of Language</label>
        <select class="" name="skillLevel">
        <% @skillLevel.each do |skill| %>
        <option value="<%= skill.id %>"><%= skill.level %></option>
        <% end %>
        </select><br>
        </div>

        <button class="btn btn-warning btn-lg" type="submit" >Create</button>
        </form>
        </ul>
      </div>
    </div>
  </div>
</div>



<h1>User Languages</h1>

    <% @user_languages.each do |user_language| %>
      <%= user_language.language.language %>
      <%= user_language.skill_level.level %>

        <%= link_to 'Edit', edit_user_user_language_path(current_user,user_language) %>
        <%= link_to 'Destroy', user_user_language_path(current_user,user_language), method: :delete, data: { confirm: 'Are you sure?' } %><br>
      </tr>
    <% end %>
